.profileNav {
    width: 8.8542vw;
    height: 10.83vw;
    margin-right: 6.1458vw;
    margin-top: 1vw;
}

.profileNavItem {
    display: flex;
    align-items: center;
    margin-bottom: 1.25vw;
    text-decoration: none;
}

.profileNavIcon {
    margin-right: 0.52vw;
    width: 1.25vw;
}

.profileNavText {
    font-size: 0.7291vw;
    color: #000000;
    margin: 0;
}

/*///////////////////////////////////////////*/

.personalData {
    height: 1.3vw;
    display: flex;
    align-items: center;
    color: #2C2C2C;
    margin-top: 0.652vw;
    margin-bottom: 1.718vw;
}

.imgIconUserGrey {
    width: 1.25vw;
    height: 1.25vw;
}

#nameLabel {
    font-family: 'NAMU Pro';
    font-size: 0.5729vw;
    display: block;
    width: 2.4479vw;
    height: 0.83vw;
    background-color: #FFFFFF;
    padding: 0 0.468vw 0 0.52vw;
    color: #2C2C2C;
    position: absolute;
    top: -0.652vw;
    left: 3.3vw;
}

.formInput {
    width: 29.339vw;
    height: 1.927vw;
    padding: 0.468vw 0.52vw 0.468vw 0.52vw;
    margin-bottom: 0.52vw;
    border-radius: 0.52vw;
    font-size: 0.677vw;
    font-family: 'Mazzard Soft M', sans-serif;
    border: 0.052vw solid #686868;
    color: #2C2C2C;
}

.formInput::placeholder {
    color: #2C2C2C;
}

.saveButton {
    display: block;
    width: 14.166vw;
    height: 1.927vw;
    background-color: #F6F6F6;
    color: #2C2C2C;
    border: none;
    border-radius: 0.52vw;
    padding: 0.52vw;
    font-size: 0.677vw;
    font-family: 'Mazzard Soft M', sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.saveButton:hover {
    color: #F6F6F6;
    background-color: #2C2C2C;
}

/*///////////////////////////////////////////*/



.subscribeBlock {
    display: block;
}

.subscribeInputWrapper {
    display: flex;
    align-items:  flex-start;
}

.subscribeGmail {
    position: relative;
}

.iconGmail {
    position: absolute;
    margin-left: 0.468vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 1vw;
}

.subscribeInput {
    width: 39.166vw;
    height: 1.927vw;
    padding: 0.156vw 0 0 1.979vw;
    margin-right: 0.83vw;
    border: 0.052vw solid #686868;
    color: #2C2C2C;
    border-radius: 0.52vw;
    font-size: 0.677vw;
    font-family: 'Mazzard Soft M', sans-serif;
}

.subscribeInput::placeholder {
    color: #2C2C2C;
}

.subscribeButton {
    display: block;
    width: 9.166vw;
    height: 1.927vw;
    background-color: #B53535;
    color: #FFFFFF;
    border: none;
    border-radius: 0.52vw;
    padding: 0.52vw;
    font-size: 0.677vw;
    font-family: 'Mazzard Soft M', sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.subscribeButton:hover {
    color: #FFFFFF;
    background-color: #2C2C2C;
}

/*////////////////////////////////////////////////*/
.ordersText {
    font-family: 'NAMU Pro';
}

/*////////////////////////////////////////////////*/
.wishlist
{
    width: 29.166vw;
    padding: 0.52vw;
    border: 0.052vw solid #686868;
    background-color: #FFFFFF;
    border-radius: 0.52vw;
    color: #2C2C2C;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'NAMU Pro';
    font-size: 0.677vw;
}

.wishlist::placeholder{
    color: #2C2C2C;
}

.wishlist:hover
{
    border: 0.052vw solid #B53535;
    background-color: #B53535;
    color: #FFFFFF;
}
.wishlist:hover::placeholder{
    color: #FFFFFF;
}

.contactText
{
    font-family: 'NAMU Pro';
    font-size: 1vw;
}